name: tests

on: workflow_dispatch
# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branchs:
#       - 'feature/**'
#       - 'fix/**'
#       - 'refactor/**'


jobs:
  test:
    runs-on: arc-runner-set
    name: Testes
    steps:
      - name: checkout PR merge commit
        uses: actions/checkout@v3

      - name: Rodar um echo
        run: echo 'Olá mundo!'

      - name: Metadatas
        run: |
          cat /etc/os*release
          cat /etc/group
          uname -a
          id
          sudo id

      - name: Executa instalação via apt para teste mínimo
        run: |
           sudo apt-get update && sudo apt-get install -y hello
           hello